<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%method{0}\(%line\) - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="Mongo" class="com.github.xsocks.log.MongoAppender">
        <host>localhost</host>
        <port>27017</port>
        <database>xSocks</database>
        <collection>logs</collection>
        <clear>true</clear>
    </appender>

    <logger name="net.iampaddy" level="TRACE">
        <!--<appender-ref ref="Mongo"/>-->
    </logger>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>